.contact-page_heading {
	text-align: center;
}

.contact-page_major-block {
	padding: 2em;
}

.contact-page_major-block > .row:nth-child(odd) {
	background-color: #f5f5f5;
}

.contact-page_major-block > .row:nth-child(even) {
	background-color: #f0f0f0;
}

.contact-page_key {
	font-weight: bold;
}

.contact-page_major-block .contact-page_contact-style-email:nth-child(n) {
	background-color: #f0f0c0;
}

.contact-page_major-block .contact-page_contact-style-jabber:nth-child(n) {
	background-color: #f0c0c0;
}

.contact-page_major-block .contact-page_contact-style-skype:nth-child(n) {
	background-color: #c0f0f0;
}

#requests {
	width: auto;
	border: 0;
}
